@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,300;0,700;0,800;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Noto Sans", sans-serif;
  color: rgba(255, 255, 255, 0.87);
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;

  grid-column: 1;
  grid-row: 1;
  align-items: center;
  justify-content: center;

  background: linear-gradient(0.33turn, #fac5c1, #ebbef5, #ebbef5, #d1c4d1);
  margin: 0;
  padding: 0;
}

.card-top {
  /* background: linear-gradient(
    to right,
    #fbe2e3 0%,
    #feeae9 25%,
    #f5d6f7 60%,
    #f0c7f6 100%
  ); */
  /* background-color: #feeae9; */
}

.card-bottom {
  background: linear-gradient(
    to right,
    #01d1ed 0%,
    #07abf1 20%,
    #1e7cf8 40%,
    #3b69f5 60%,
    #7948f2 80%,
    #9c33ed 100%
  );
}
